<config>
  <swf width="1000" height="370" scaleMode="noScale" alignMode="TL" preloaderSize="0" bgSoundLoop="true" />
  <preloader percentTextColor="16777215" bgColor="0" size="0" url="resource/res/others/professional.swf">
  </preloader>
  <dataLoadControl size="1" url="resource/res/others/datacontrol.swf" />
  <player size="0" url="resource/res/others/player.swf" />
  <playMode startType="" playType="autoPlay" endType="showReplayButton" />
  <imgDescription position="bottom" showType="auto" />
  <maTempXMLData url="resource/res/others/template/template.xml" />
  <maAlbumListData url="resource/album.xml" />
  <tempBackGround>
  <backColor color="0" />
</tempBackGround>
</config>
